# Copyright (c) 2026 Kiruba Sankar Swaminathan
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root of this source tree.

bin
*.log

# Devtool UI e2e
devtool/e2e/node_modules/
devtool/e2e/.testdata/
devtool/e2e/.server-pid
devtool/e2e/server.log
devtool/e2e/test-results/
devtool/e2e/playwright-report/
devtool/e2e/blob-report/

