# Copyright (c) 2026 Kiruba Sankar Swaminathan
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root of this source tree.

bin
*.log

# Console UI e2e
console/e2e/node_modules/
console/e2e/.testdata/
console/e2e/.server-pid
console/e2e/server.log
console/e2e/test-results/
console/e2e/playwright-report/
console/e2e/blob-report/

